body {
	margin: 0px;
	font-family: serif;
	background-color: blanchedalmond;
}

.header {
	padding: 40px;
	background-color: #fd6a6a;
	background-size: cover;
	color: rgb(37, 35, 34);
	text-align: center;
	transition: background-color 4s ease;
	
}
h1 {
	font-family: fantasy;
	font-size: 60px;
	transform:skew(-20deg,0);
	transition: background-color 2s ease;
}

h1:hover{
	background-color: rgb(175, 6, 6);
	color: white;

}

.nav{
    background-color: lightblue;
    padding: 15px;
    font-family: cursive;
}

nav:hover{
    background-color: #E6E6FA;
    transition: background-color 2s ease;

}
.navbar-brand{
    text-color:red;
}

navbar-brand:hover{
    transform: scale(1.10);
}

h4 {
	font-family: cursive;
}

* {
	box-sizing: border-box;
}
.column {
	float: left;
	padding: 20px;
}
.side {
	width: 20%;
}
.main {
	width: 60%;
}
p {
	text-align: justify;
}
.main p {
	text-indent: 50px;
}

img {
	width: 100%;
	margin-bottom: 15px;
	border: 2px solid crimson;
	
}

img:hover{
	transform: scale(1.2);
}

.content::after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	background-color: #fd6a6a;
	padding: 20px;
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: cursive;

}

.footer:hover{
    background-color: #8B0000;
    transition: background-color 4s ease;
}

#insta{
    border-radius: 50%;
    width: 50px;
    text-decoration: none;
}

#fb{
    border-radius: 50%;
    width: 50px;
}

.oNama{
text-align: center;
font-weight: bolder;
font-style: italic;
font-family: Monospace;
}

