{% extends "Portal_Za_Volontiranje.html" %}
{% block title %}
Početna stranica
{% endblock %}
{% block body %}
<div class="row">
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="diskusije-tab" data-bs-toggle="tab" data-bs-target="#diskusije" type="button"
                        role="tab" aria-controls="diskusije" aria-selected="true">Дискусије
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="oglasi-tab" data-bs-toggle="tab" data-bs-target="#oglasi" type="button"
                        role="tab" aria-controls="oglasi" aria-selected="false">Огласи
                </button>
            </li>
{% if user.is_authenticated %}
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="ankete-tab" data-bs-toggle="tab" data-bs-target="#ankete" type="button"
                        role="tab" aria-controls="ankete" aria-selected="false">Анкете
                </button>
{% endif %}
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="diskusije" role="tabpanel" aria-labelledby="diskusije-tab">
                <div class="col">

                    <h3>Тренутно има {{ diskusije.count }} дискусија.</h3>
                </div>

                {% if not user.is_authenticated %}
                <div>
                    <center><a class="btn-danger user btn" href="{% url 'login' %}">Пријавите се да бисте учествовали у дискусијама</a>
                    </center>
                </div>
                {% else %}
                <div>
                    <center><a class="btn-success user btn" href="{% url 'forum:kreiranjeDiskusije' %}">Започни нову дискусију</a>
                    </center>
                </div>
                {% endif %}

                <table class="table">
                    <thead>
                    <tr>
                        <th>Назив</th>
                        <th>Датум</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for diskusija in diskusije %}
                    <tr>
                        <td>
                            <p>{{ diskusija.kategorija}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'forum:diskusija' %}?id={{ diskusija.id }}">{{ diskusija.naziv }} </a>
                        </td>
                        <td>
                            {{ diskusija.datum }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {% block test %}
                    {% endblock %}
                </div>
            </div>
            <div class="tab-pane fade" id="oglasi" role="tabpanel" aria-labelledby="oglasi-tab">
                <div class="col">
                    <h3>Тренутно има {{ oglasi.count }} огласа.</h3>
                </div>
                {% if user.organizacija %}
                <div>
                    <center><a class="btn-success user btn" href="{% url 'oglasi:postavljanjeOglasa' %}">Постави оглас</a>
                    </center>
                </div>
                {% endif %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Назив</th>
                        <th>Датум и време постављања</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oglas in oglasi %}
                    <tr>
                        <td>
                            <a href="{% url 'oglasi:detaljiOglasa' oglas.id %}">{{ oglas.naslov }}</a>
                        </td>
                        <td>{{ oglas.datum }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
                <div class="tab-pane fade" id="ankete" role="tabpanel" aria-labelledby="ankete-tab">
                        {% if user.is_authenticated %}
                        {% if user.volonter %}
                        {% else %}
                    <div>
                        <center><a class="btn-success user btn" href="{% url 'ankete:kreiranjeAnkete' %}">Креирајте анкету</a>
                        </center>
                    </div>
                        {% endif %}
                        {% endif %}
                        {% for anketa in ankete %}
                        <h4>Naziv ankete: {{ anketa.naziv_ankete }}</h4>
                        {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}