{% extends "base.html" %}

{% block title %}
{{ diskusija.naziv }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h1>{{ diskusija.naziv }}</h1>
        <h5>{{ diskusija.kategorija }}</h5>
        <h5>{{ diskusija.autor.username }} - {{ diskusija.datum }}</h5>
        <p>{{ diskusija.tekst }}</p>
        <div style="height: 500px;overflow: auto;">
            <table class="table">
                <thead>
                <th>Korisnik</th>
                <th>Komentar</th>
                </thead>
                <tbody id="tbody">
                {% for komentar in diskusija.komentar_set.all %}
                <tr>
                    <td>{{ komentar.autor.username }} {{ komentar.datum }}</td>
                    <td>{{ komentar.sadrzaj }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}